<div mat-dialog-title>
  <h1>Manage Employee</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <input type="hidden" placeholder="" formControlName="id">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" placeholder="" formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="" formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Employee Number</mat-label>
        <input matInput placeholder="" formControlName="number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Position Id</mat-label>
        <input matInput placeholder="" type="number" formControlName="positionId">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
